<div id="affiliateLine"></div>
<script defer type="text/babel">
	class AffilliateWidget extends React.Component {
		constructor() {
			super();
			this.fetchLink = `https://affiliate.artefaktas.workers.dev/api`;
			this.state = {
				data: null,
			};
			this.cardStyle = {
				maxWidth: 400 + `px`,
				padding: 1 + `rem`,
				boxShadow: `0 4px 8px 0 rgba(0,0,0,0.2)`,
				textAlign: `center`,
				borderRadius: 8 + `px`,
				display: `block`,
				marginLeft: `auto`,
				marginRight: `auto`,
				marginBottom: 2 + `rem`,
			};
			this.returnData = this.returnData.bind(this);
		}

		returnData(arr) {
			let item = arr[Math.floor(Math.random() * arr.length)];
			let customString = {__html:item.Code};
			return (

				<div>
					<h3>Affiliate links</h3>
					<br />
					<h4>{item.Title}</h4>
					<br />
					<h4>{item.Text}</h4>
					<br />
					<p className="afi" dangerouslySetInnerHTML={customString}></p>
				</div>
			);
		}

		componentDidMount() {
			let fetchUrl = this.fetchLink;
			async function fetchData() {
				let res = await fetch(fetchUrl);
				let jsonData = await res.json();
				return jsonData;
			}

			fetchData().then((d) => {
				this.setState({ data: d });
			});
		}

		render() {
			return (
				<div style={this.cardStyle}>
					{this.state.data !== null
						? this.returnData(this.state.data)
						: console.log("Loading")}
				</div>
			);
		}
	}

	ReactDOM.render(
		<AffilliateWidget />,
		document.getElementById("affiliateLine")
	);
</script>
